.section-map {
  position: relative;
  min-height: 400px;
  height: 100vh;
  max-height: 630px;
  background-color: #E6E6E6;
  @media all and (max-width: 640px) {
    height: calc(100vh - 80px);
  }
}
  .section-map-description {
    position: absolute;
    z-index: 100;
    top: 34px;
    left: 50%;
    padding: 9px 20px 8px;
    font-family: 'proximanova-light', Arial, sans-serif;
    font-weight: 300;
    color: #6a7074;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  #map {
    position:absolute;
    top:0;
    height: 100%;
    width: 100%;
  }
    .marker-custom {
      z-index: 100;
      display: block;
      width: 22px;
      height: 22px;
      margin: 50px;
      background-color: transparent;
      cursor: pointer;
      @include border-radius(50%);
      &:after {
        position: absolute;
        z-index: 99;
        content: '';
        width: 22px;
        height: 22px;
        top: 50%;
        left: 50%;
        //border: 2px solid rgba(243, 123, 35, 0.8);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f37b23+81,f37b23+82,f37b23+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #ffffff 50%, #f37b23 81%, #f37b23 82%, #f37b23 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #ffffff 50%, #f37b23 81%, #f37b23 82%, #f37b23 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #ffffff 50%, #f37b23 81%, #f37b23 82%, #f37b23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f37b23', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        @include border-radius(50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      &:before {
        position: absolute;
        z-index: 200;
        content: '';
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        background: rgba(243, 123, 35, 1);
        @include border-radius(50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      &:hover {
        &:after {
          background: rgba(243, 123, 35, .45);
        }
      }
    }
    .mapboxgl-popup {
      max-width: 250px;
      text-align: center;
      font: 400 16px/22px $font-main;
      color: #2e3235;
      //@include transition(0.35s);
    }
      .mapboxgl-popup-content {
        padding: 18px 30px 24px;
        -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        img {
          margin-bottom: 7px;
        }
      }
  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right {
    display: none !important;
  }
  .marker {
    width: 22px;
    height: 22px;
    background-image: url(../../img/marker.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    @include transition(background 0.35s);
    &:hover {
      background-image: url(../../img/marker_h.png) !important;
    }
  }