/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    > ul {
        float: right;
        margin-top: 40px;
        > li {
            position: relative;
            display: inline-block;
            float: left;
            margin-left: 40px; 
            text-align: center;
            cursor: pointer;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            > a {
                position: relative;
                display: inline-block;
                font: 16px 'proximanova-semibold', Arial, sans-serif;
                color: #40464b;
                text-decoration: none;
                .white-header:not(.scrolling) & {
                    color: #ffffff;
                }
            }
        }
    }
    a:hover,
    .white-header & a:hover,
    .current-menu-item:not(.btn-ellipse) > a,
    .current_page_item:not(.btn-ellipse) > a {
        color: #fb7e22;
        text-decoration: none;
    }
}

        /* Effect 1: Brackets */
        .main-nav li a::before,
        .main-nav li a::after {
            display: inline-block;
            opacity: 0;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
            -moz-transition: -moz-transform 0.3s, opacity 0.2s;
            transition: transform 0.3s, opacity 0.2s;
            position: absolute;
        }

        .main-nav li a::before {
            margin-right: 10px;
            content: '[';
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            transform: translateX(20px);
            left: -10px;
        }

        .main-nav li a::after {
            margin-left: 10px;
            content: ']';
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            transform: translateX(-20px);
            right: -10px;
        }

        .main-nav li a:hover::before,
        .main-nav li a:hover::after,
        .main-nav li a:focus::before,
        .main-nav li a:focus::after {
            opacity: 1;
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            transform: translateX(0px);
        }
        .main-nav li.btn-ellipse a::before,
        .main-nav li.btn-ellipse a::after {
            opacity: 0 !important;
        }


        .mobile-menu {
            padding-bottom: 70px;
            > li {
                position: relative;
                > a {
                    position: relative;
                    display: block;
                    font:  16px 'proximanova-semibold', Arial, sans-serif;
                    padding: 15px 35px 13px;
                    color: #40464b;
                }
                a:hover,
                &.current-menu-item > a {
                    color: #fb7e22;
                    text-decoration: none;
                }
            }
            > .current-menu-item > a,
            > li > a:hover {
                text-decoration: none;
            }
            .expanded:after {
                content: "\f107";
                font-family: FontAwesome;
                font-size: 16px;
                line-height: 1;
                text-indent: 0;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                margin-top: -8px;
                right: 10px;
                display: inline-block;
                color: #770700;
            }
            &:hover:after {
                color: #0097de;
            }
            &.open:after {
                content: "\f106";
            }
        }